In [1]:
import pandas as pd

In [2]:
p15 = pd.read_csv("./Group F Data/players_15.csv")
p15.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3

In [3]:
p16 = pd.read_csv("./Group F Data/players_16.csv")
p16.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,28,1987-06-24,170,72,Argentina,FC Barcelona,...,62+3,57+3,57+3,57+3,62+3,57+3,44+3,44+3,44+3,57+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,30,1985-02-05,185,80,Portugal,Real Madrid,...,64+3,60+3,60+3,60+3,64+3,60+3,52+3,52+3,52+3,60+3
2,9014,https://sofifa.com/player/9014/arjen-robben/16...,A. Robben,Arjen Robben,31,1984-01-23,180,80,Netherlands,FC Bayern München,...,65+3,60+3,60+3,60+3,65+3,59+3,47+3,47+3,47+3,59+3

In [4]:
p17 = pd.read_csv("./Group F Data/players_17.csv")
p17.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,31,1985-02-05,185,80,Portugal,Real Madrid,...,66+3,61+3,61+3,61+3,66+3,62+3,53+3,53+3,53+3,62+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,29,1987-06-24,170,72,Argentina,FC Barcelona,...,63+3,59+3,59+3,59+3,63+3,58+3,46+3,46+3,46+3,58+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,Neymar da Silva Santos Junior,24,1992-02-05,174,68,Brazil,FC Barcelona,...,64+3,59+3,59+3,59+3,64+3,59+3,46+3,46+3,46+3,59+3

In [5]:
p18 = pd.read_csv("./Group F Data/players_18.csv")
p18.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,32,1985-02-05,185,80,Portugal,Real Madrid,...,66+3,62+3,62+3,62+3,66+3,62+3,53+3,53+3,53+3,62+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,170,72,Argentina,FC Barcelona,...,62+3,59+3,59+3,59+3,62+3,58+3,46+3,46+3,46+3,58+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,Neymar da Silva Santos Junior,25,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,64+3,59+3,59+3,59+3,64+3,60+3,47+3,47+3,47+3,60+3

In [6]:
p19 = pd.read_csv("./Group F Data/players_19.csv")
p19.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,33,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,31,1987-06-24,170,72,Argentina,FC Barcelona,...,63+2,61+2,61+2,61+2,63+2,58+2,47+2,47+2,47+2,58+2
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,26,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3

In [7]:
p20 = pd.read_csv("./Group F Data/players_20.csv")
p20.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3

In [10]:
be = pd.read_csv("./Group F Data/BE.csv", sep=";", encoding = 'unicode_escape')
be.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,B1,27.07.2018,Standard de Liège,KAA Gent,3,2,H,1,1,D,...,Oca.74,21,-0.25,Oca.97,Oca.92,Oca.96,Oca.91,Þub.35,Mar.28,Mar.31
1,B1,28.07.2018,KV Kortrijk,RSC Anderlecht,1,4,A,0,2,A,...,Þub.21,19,0.75,1.Eyl,Oca.84,2.May,Oca.98,Mar.67,Mar.86,Oca.99
2,B1,28.07.2018,KV Oostende,Royal Excel Mouscron,2,1,H,0,1,A,...,2.Nis,22,-1,Oca.97,1.Eyl,Oca.97,Oca.91,Oca.57,Nis.31,6.Aðu

In [11]:
de = pd.read_csv("./Group F Data/DE.csv", sep=";", encoding = 'unicode_escape')
de.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,D1,24.08.2018,FC Bayern München,TSG 1899 Hoffenheim,3,1,H,1,0,H,...,Mar.55,22,-2,Oca.92,Oca.87,2.May,Oca.99,Oca.23,Tem.15,14.Oca
1,D1,25.08.2018,Fortuna Düsseldorf,FC Augsburg,1,2,A,1,0,H,...,Oca.76,20,0,1.Aðu,Oca.76,Þub.17,2.Kas,Þub.74,Mar.33,Þub.78
2,D1,25.08.2018,SC Freiburg,Eintracht Frankfurt,0,2,A,0,1,A,...,Oca.69,20,-0.25,2.Þub,Oca.99,Oca.92,Oca.88,Þub.52,3.Mar,3.Tem

In [12]:
es = pd.read_csv("./Group F Data/ES.csv", sep=";", encoding = 'unicode_escape')
es.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,SP1,17.08.2018,Real Betis,Levante UD,0,3,A,0,1,A,...,2.Haz,20,-0.75,Oca.89,Oca.85,2.Tem,2,Oca.59,Nis.42,May.89
1,SP1,17.08.2018,Girona FC,Real Valladolid CF,0,0,D,0,0,D,...,Oca.71,20,-0.75,2.Haz,2.Oca,1.Eyl,Oca.85,Oca.76,Mar.57,May.62
2,SP1,18.08.2018,FC Barcelona,Deportivo Alavés,3,0,H,0,0,D,...,Mar.18,19,-2.5,Oca.95,Oca.91,2,Oca.95,1.Oca,Kas.85,32.17

In [13]:
fr = pd.read_csv("./Group F Data/FR.csv", sep=";", encoding = 'unicode_escape')
fr.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,F1,10.08.2018,Olympique de Marseille,Toulouse Football Club,4,0,H,1,0,H,...,2.Kas,18,-1.25,2.May,Oca.98,Oca.91,Oca.87,Oca.48,Nis.53,7.Tem
1,F1,11.08.2018,Angers SCO,Nîmes Olympique,3,4,A,1,1,D,...,Oca.66,20,-0.25,Oca.99,Oca.95,Oca.94,1.Eyl,Þub.36,Mar.15,Mar.51
2,F1,11.08.2018,LOSC Lille,Stade Rennais FC,3,1,H,1,1,D,...,Oca.64,20,0,Oca.82,Oca.77,Þub.15,2.Eyl,Þub.81,Mar.31,Þub.72

In [14]:
it = pd.read_csv("./Group F Data/IT.csv", sep=";", encoding = 'unicode_escape')
it.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,I1,18.08.2018,Chievo Verona,Juventus,2,3,A,1,1,D,...,Þub.13,19,2,Oca.68,Oca.64,Þub.38,Þub.29,18.84,Haz.42,Oca.22
1,I1,18.08.2018,Lazio,Napoli,1,2,A,1,1,D,...,Þub.17,20,0,2.Ara,2.Tem,Oca.83,Oca.79,Þub.78,Mar.57,Þub.59
2,I1,19.08.2018,Bologna,Spal,0,1,A,0,0,D,...,Oca.58,19,-0.25,Oca.97,Oca.92,Oca.99,Oca.94,Þub.31,Mar.18,Mar.59

In [15]:
ne = pd.read_csv("./Group F Data/NE.csv", sep=";", encoding = 'unicode_escape')
ne.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,N1,10.08.2018,PEC Zwolle,SC Heerenveen,2,3,A,1,3,A,...,Þub.22,16,-0.25,Þub.26,Þub.17,Oca.84,Oca.71,Þub.93,Mar.58,Þub.43
1,N1,11.08.2018,Ajax,Heracles Almelo,1,1,D,0,0,D,...,Mar.55,20,-2.5,2.Haz,Oca.99,Oca.91,Oca.84,Oca.13,Eyl.75,20.82
2,N1,11.08.2018,Excelsior,Fortuna Sittard,1,1,D,1,0,H,...,Þub.14,19,-0.25,Oca.88,Oca.84,2.Haz,2,Þub.35,3.May,3.Kas

In [16]:
po = pd.read_csv("./Group F Data/PO.csv", sep=";", encoding = 'unicode_escape')
po.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,P1,10.08.2018,SL Benfica,Vitória Guimarães,3,2,H,3,0,H,...,Þub.44,20,-1.75,2.May,Oca.98,1.Eyl,Oca.85,Oca.28,May.69,14.77
1,P1,11.08.2018,FC Porto,GD Chaves,5,0,H,3,0,H,...,Þub.49,21,-2,2.Oca,Oca.94,Oca.93,Oca.88,Oca.18,8.Aðu,19.26
2,P1,11.08.2018,Vitória de Setúbal,CD Aves,2,0,H,1,0,H,...,Oca.56,20,-0.25,2.Mar,Oca.98,Oca.91,Oca.85,Þub.41,Mar.14,Mar.42

In [17]:
tr = pd.read_csv("./Group F Data/TR.csv", sep=";", encoding = 'unicode_escape')
tr.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,T1,10.08.2018,MKE Ankaragücü,Galatasaray SK,1,3,A,1,2,A,...,2.Þub,18,1.0,Oca.69,Oca.64,Þub.34,Þub.23,Nis.39,Mar.89,Oca.83
1,T1,11.08.2018,Fenerbahçe SK,Bursaspor,2,1,H,2,1,H,...,Þub.27,18,-1.5,Þub.21,2.Kas,Oca.78,Oca.72,Oca.35,May.46,9.Kas
2,T1,11.08.2018,Çaykur Rizespor,Kasimpaþa SK,2,3,A,1,0,H,...,2,17,0.0,Oca.77,Oca.72,Þub.19,2.Kas,2.Mar,Mar.85,Mar.56

In [18]:
uk = pd.read_csv("./Group F Data/UK.csv", sep=";", encoding = 'unicode_escape')
uk.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,10.08.2018,Manchester United,Leicester City,2,1,H,1,0,H,...,Oca.79,17,-0.75,Oca.75,1.Tem,Þub.29,Þub.21,Oca.55,4.Tem,Tem.69
1,E0,11.08.2018,Bournemouth,Cardiff City,2,0,H,1,0,H,...,Oca.83,20,-0.75,2.Þub,Þub.13,1.Aðu,Oca.75,Oca.88,Mar.61,4.Tem
2,E0,11.08.2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,Oca.87,22,-0.25,Þub.18,2.Kas,Oca.81,Oca.77,Þub.62,Mar.38,2.Eyl

#NOTE

Data description can be found in description.txt

In [1]:
!jupyter nbconvert --to html appendix.ipynb

[NbConvertApp] Converting notebook appendix.ipynb to html
[NbConvertApp] Writing 623073 bytes to appendix.html