In [2]:
import pandas as pd

In [5]:
p18 = pd.read_csv("./Group F Data/players_18.csv")
p18.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,32,1985-02-05,185,80,Portugal,Real Madrid,...,66+3,62+3,62+3,62+3,66+3,62+3,53+3,53+3,53+3,62+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,170,72,Argentina,FC Barcelona,...,62+3,59+3,59+3,59+3,62+3,58+3,46+3,46+3,46+3,58+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,Neymar da Silva Santos Junior,25,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,64+3,59+3,59+3,59+3,64+3,60+3,47+3,47+3,47+3,60+3

In [6]:
p19 = pd.read_csv("./Group F Data/players_19.csv")
p19.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,33,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,31,1987-06-24,170,72,Argentina,FC Barcelona,...,63+2,61+2,61+2,61+2,63+2,58+2,47+2,47+2,47+2,58+2
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,26,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3

In [6]:
res = pd.read_csv("./Group F Data/match_result.csv", encoding = 'unicode_escape')
print(res.shape)
res.head(3)

(2984, 22)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,B1,27.07.2018,Standard de Liège,KAA Gent,3,2,H,1,1,D,...,8,5,22.0,18.0,2,5,2,3,0,0.0
1,B1,28.07.2018,KV Kortrijk,RSC Anderlecht,1,4,A,0,2,A,...,1,6,22.0,19.0,6,2,2,1,0,0.0
2,B1,28.07.2018,KV Oostende,Royal Excel Mouscron,2,1,H,0,1,A,...,5,2,22.0,21.0,4,0,4,5,0,2.0

#NOTE

Data description can be found in description.txt

In [7]:
!jupyter nbconvert --to html appendix.ipynb

[NbConvertApp] Converting notebook appendix.ipynb to html
[NbConvertApp] Writing 580291 bytes to appendix.html